:root {
  --bodyBg: #090019;
}
body {
  background: var(--bodyBg);
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    sans-serif;
  color: white;
  max-width: 45em;
  margin: auto;
  margin-bottom: 3rem;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}

code {
  overflow-wrap: break-word;
  padding: 0 4pt;
  border-radius: 4pt;
  background-color: #004040;
}
pre code {
  background-color: transparent;
}
pre {
  border-radius: 1ex;
  font-size: 0.75em;
}
h1 {
  font-size: clamp(2rem, 2rem + 2vw, 3rem);
}
:where(h2, h3, h4) {
  margin-top: 3ex;
}
ul li {
  margin: 1ex 0;
}
.hide-in-docs {
  display: none;
}
