:root {
  --page-bg: #090019;
  --text-color: #ddd;

  --zoo-github-corner-bg: whitesmoke;
  --zoo-github-corner-color: var(--page-bg);
  --zoo-pr-link-bg: rgba(255, 255, 255, 0.1);
  --zoo-pr-link-padding: 2pt 5pt;
  --zoo-pr-link-border-radius: 3pt;
}
body {
  background: var(--page-bg);
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: var(--text-color);
  max-width: 45em;
  margin: auto;
  margin-bottom: 3rem;
}
a {
  color: cornflowerblue;
  text-decoration: none;
}
a:hover {
  color: orange;
}

code {
  overflow-wrap: break-word;
  padding: 0 4pt;
  border-radius: 4pt;
  background-color: #004040;
}
pre code {
  background-color: transparent;
  font-size: 10pt;
}
pre {
  border-radius: 1ex;
  font-size: 0.75em;
}
h1 {
  font-size: clamp(2rem, 2rem + 2vw, 3rem);
}
:where(h2, h3, h4) {
  margin-top: 3ex;
}
ul li {
  margin: 1ex 0;
}
.hide-in-docs {
  display: none;
}

label {
  display: flex;
  gap: 1ex;
}
input[type='number'] {
  background: transparent;
  color: inherit;
  border: 1px dotted white;
  border-radius: 5pt;
  text-align: center;
  padding: 0 4pt;
  outline: none;
}

:where(h2, h3, h4, h5, h6) {
  scroll-margin-top: 50px;
  transition: 0.3s;
}
:where(h2, h3, h4, h5, h6).toc-clicked {
  color: orange;
}
/* style heading anchors added by rehype-autolink-headings, see svelte.config.js */
:where(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}
